<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
            <br>
            <h4 class="text-center"><u>Differences between Angular and AngularJS</u></h4>
            <br>
            <p>Angular was a ground-up rewrite of AngularJS.</p>
            <ul>
                <li>Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]</li>
                <li>Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
                    </li>
                <li>Modularity – much core functionality has moved to modules</li>
                <li>Angular recommends the use of Microsoft's TypeScript language, which introduces the following features:</li>
                <li>Static Typing, including Generics</li>
                <li>Annotations</li>
                <li>TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript).</li>
                <li>Dynamic loading</li>
                <li>Asynchronous template compilation</li>
                <li>Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.</li>
                <li>Support Angular Universal, a technology that runs your Angular application on the server</li>
                <li>Has its own suite of modern UI components that work across the web, mobile and desktop, called Angular Material[8]</li>
            </ul>
        </div>
    </div>
<router-outlet></router-outlet>
</div>
