<div class="container bg text-center mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
            <h4 class="text-white">ANGULAR HISTORY</h4>
            <div class="mt-5 text-tenter">
                <h5 class="text-danger text-center">Angular 2</h5>
                <hr>
                <p>
                    Angular 2.0 was first introduced in October 2014. It was a complete rewrite of Angular so, the drastic changes in the 2.0 version created controversy among developers. On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview and then Beta version was released in December 2015. Its first version was published in May 2016 and the final version was released on September 14, 2016.</p>
            <br>
                    <h5 class="text-warning text-center">Angular 4</h5>
            <hr>
            <p>Angular 4 version was announced on 13 December 2016. The developers skipped the version 3 due to some confusion. Its final version was released on 23 March 2017.

                    This version has some additional features:
                    
                    This version introduced HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
                    It provides new router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
                    It provides the support of conditionally disable animations.</p>
                    <br>
            <h5 class="text-success text-center">Angular 5</h5>
            <hr>
                <p>This version was released on 1 Nov, 2017. It provided some improvements to support for progressive web apps, also provides improvements related to Material Design.</p>
                <br>
                <h5 class="text-center"><mark class="bg-danger text-secondary">Angular 6</mark></h5>
                <hr>
                <p>This version was released on 4 may, 2018. It was a major relaese which provides some features like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6.</p>
                <br>
                <h5 class="text-info text-center">Angular 7</h5>
                <hr>
                <p>The latest version of Angular is Angular 7. It was released on October 18, 2018. It consists of many extensive features:

                        Updates regarding Application Performance
                        Angular Material & CDK
                        Virtual Scrolling
                        Improved Accessibility of Selects
                        Supports Content Projection using web standard for custom elements
                        Dependency updates regarding TypeScript 3.1, RxJS 6.3, Node 10</p>
                </div>
        </div>
    </div>
</div>
